body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    color: #333;
    overflow-x: hidden;
    position: relative;
}

#container {
    width: 90%;
    max-width: 700px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#recordButton {
    font-size: 1em;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background-color: #ffd900;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#recordButton:hover {
    background-color: #e0850e;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#chatContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 350px;
    overflow-y: auto;
    border: 1px solid rgba(224, 224, 224, 0.5);
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(249, 249, 249, 0.7);
    margin-bottom: 10px;
}

.chatMessage {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 18px;
    max-width: 70%;
    word-wrap: break-word;
}

.userMessage {
    background-color: rgba(227, 242, 253, 0.8);
    color: #000;
    align-self: flex-end;
}

.botMessage {
    background-color: rgba(240, 240, 240, 0.8);
    color: #000;
    align-self: flex-start;
}

.logo {
    width: 80px;
    height: auto;
}


#inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#textInput {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

#sendButton {
    padding: 10px 16px;
    background-color: #ffd900;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 80px; /* 버튼의 너비 */
    height: 40px; /* 버튼의 높이 */
    font-size: 16px; /* 텍스트 크기 */
}

#sendButton:hover {
    background-color: #e0850e;
}

#imageInput {
    display: none;
}

#imageLabel {
    display: inline-flex;
    align-items: center;
    padding: 0px 5px;
    background-color: #ffd900;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    width: 40px; /* 버튼의 너비 */
    height: 40px; /* 버튼의 높이 */
    font-size: 12px; /* 텍스트 크기 */
}

#imageLabel:hover {
    background-color: #e0850e;
}

.camera-icon {
    width: 20px;
    height: 20px;
    padding: 4px 10px;
    vertical-align: middle;
    margin-right: 5px;
}
